@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
body {
    font-family: 'Open Sans', sans-serif;
    color: #25a499;
    font-size: 16px;
    position: relative;
    overflow-x: hidden;
}
::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-style: italic;
    color: #fff !important;
}
::-moz-placeholder {
    /* Firefox 19+ */
    font-style: italic;
    color: #fff !important;
}
:-ms-input-placeholder {
    /* IE 10+ */
    font-style: italic;
    color: #fff !important;
}
:-moz-placeholder {
    /* Firefox 18- */
    font-style: italic;
    color: #fff !important;
}
a:focus {
    outline: none;
    outline-offset: none;
}
a:hover {
    text-decoration: none;
}
.btn-default {
    border-radius: 50px;
    background: transparent;
    padding: 10px 20px;
    min-width: 170px;
    border: 2px solid #fff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.btn-default:hover {
    border-color: #09bf73;
    background: #09bf73;
    color: #fff;
}
.btn-default.reserv {
    color: #09bf73;
    border-color: #09bf73;
}
.btn-default.colored:hover {
    color: #fff;
}
.btn-default.green {
    color: #09bf73;
    border-color: #09bf73;
}
.btn-default.green:hover {
    color: #fff;
    background: #09bf73;
}
.mt-200 {
    margin-top: 200px;
}
.mt-250 {
    margin-top: 250px;
}
.space-25 {
    height: 25px;
}
.space-50 {
    height: 50px;
}
.padding-100 {
    padding: 100px 0;
}
.pt-100 {
    padding-top: 100px;
}
.pb-100 {
    padding-bottom: 100px;
}
.section-heade h3 {
    color: #09bf73;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 5px;
}
.section-heade p {
    color: #2a3b71;
    margin: 0;
    font-weight: 400;
    line-height: 30px;
    font-size: 16px;
}
.section-heade.white h3
{
    color: #fff;
}

.page-head {
    position: relative;
    padding: 100px 0;
}
.page-head h2 {
    font-size: 50px;
    margin: 0;
    padding: 100px 0 10px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}


@media (max-width: 991px) {
    .mt-250 {
        margin-top: 125px;
    }
    .mt-200 {
        margin-top: 100px;
    }
    .btn-default {
        padding: 10px 10px;
        min-width: 150px;
        font-size: 12px;
    }
    .section-heade h3 {
        font-weight: 300;
    }
}
/*----------start preloader-----------*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-image: -moz-linear-gradient(to right, #4da0b0, #d39d38);
    background-image: -webkit-linear-gradient(to right, #4da0b0, #d39d38);
    background-image: -ms-linear-gradient(to right, #4da0b0, #d39d38);
}
.preloader .spinner {
    margin: 0 auto;
    width: 40px;
    height: 40px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.preloader .spinner .cube1,
.preloader .spinner .cube2 {
    background-color: #fff;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
}
.preloader .spinner .cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}
@-webkit-keyframes sk-cubemove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5)
    }
    50% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg)
    }
    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5)
    }
    100% {
        -webkit-transform: rotate(-360deg)
    }
}
@keyframes sk-cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }
    50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    }
    50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }
    75% {
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }
    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}
/*--------------end-preloader----------------*/

/*--------------nav-bar----------------------*/
.appy-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    border-radius: 0;
    border: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-image: -moz-linear-gradient(to bottom, #a1ffce, #faffd1);
    background-image: -webkit-linear-gradient(to bottom, #a1ffce, #faffd1);
    background-image: -ms-linear-gradient(to bottom, #a1ffce, #faffd1);
}
.appy-menu.sticky {
    background-image: -moz-linear-gradient(to bottom, #a1ffce, #faffd1);
    background-image: -webkit-linear-gradient(to bottom, #a1ffce, #faffd1);
    background-image: -ms-linear-gradient(to bottom, #a1ffce, #faffd1);
    opacity: 0.9;
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.8);
    padding: 0;
}
.appy-menu ul li a {
    color: #db6d40 !important;
    font-size: 16px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.appy-menu ul li .dropdown-menu li a {
    font-size: 13px;
    letter-spacing: 2px;
    padding: 8px 15px;
    text-transform: capitalize;
}
.appy-menu ul li .dropdown-menu li.active a {
    background: #fff;
    color: #bf095d !important;
}
.appy-menu ul li.dropdown>a {
    background: transparent !important;
    /*color: #bf095d !important;*/
}
.appy-menu ul li .dropdown-menu>a:after {
    content: '';
    left: 0;
    right: 0;
    bottom: 13px;
    width: 90%;
    margin: 0 auto;
    position: absolute;
    height: 25px;
    border-radius: 20px;
    background: #18d496;
    z-index: -1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.appy-menu ul.nav>li.active>a:after,
.appy-menu ul.nav>li>a:hover:after {
    content: '';
    left: 0;
    right: 0;
    bottom: 13px;
    width: 90%;
    margin: 0 auto;
    position: absolute;
    height: 25px;
    border-radius: 20px;
    background: #18d496;
    z-index: -1;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.appy-menu ul li .dropdown-menu {
    background-image: -moz-linear-gradient(to bottom, #a1ffce, #faffd1);
    background-image: -webkit-linear-gradient(to bottom, #a1ffce, #faffd1);
    background-image: -ms-linear-gradient(to bottom, #a1ffce, #faffd1);
    border: 0;
    border-radius: 0;
}
.appy-menu .navbar-nav>.active>a,
.appy-menu .navbar-nav>.active>a:focus,
.appy-menu .navbar-nav>.active>a:hover {
    background: none;
    color: #db6d40 !important;
}
.appy-menu .navbar-brand {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
}
.appy-menu ul li a:hover {
    color: #db6d40 !important;
}
.appy-menu .navbar-brand {
    height: auto;
    max-width: 125px;
    padding: 5px 15px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.appy-menu.sticky .navbar-brand {
    padding: 15px;
}
.appy-menu.navbar-default .navbar-toggle {
    background: #fff;
    border-color: #fff;
    margin-top: 13px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.appy-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #bf095d;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.appy-menu.navbar-default .navbar-toggle.collapsed {
    background: none;
}
.appy-menu.navbar-default .navbar-toggle.collapsed .icon-bar {
    background-color: #fff;
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px !important;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
@media (max-width: 767px) {
    .appy-menu .navbar-brand {
        padding: 15px;
    }
    .appy-menu ul li a {
        text-align: center;
    }
    .appy-menu ul li.active a:after,
    .appy-menu ul li a:hover:after {
        bottom: 8px !important;
    }
    .appy-menu ul li.open>a:after,
    .appy-menu ul li.open>a:hover:after {
        bottom: 8px !important;
    }
}
@media (min-width: 768px) {
    .appy-menu {
        padding: 30px 0;
        background: transparent;
    }
    .appy-menu.sticky .navbar-nav>li>a {
        padding: 20px 15px;
    }
    .appy-menu.sticky ul li.active a:after,
    .appy-menu.sticky ul li a:hover:after {
        bottom: 18px;
    }
    .appy-menu.sticky ul li.open>a:after,
    .appy-menu.sticky ul li.open>a:hover:after {
        bottom: 18px;
    }
    .appy-menu .nav li.dropdown:hover>.dropdown-menu {
        display: block;
    }
}
#home_banner {
    position: relative;
    height: 100%;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: -moz-linear-gradient(to bottom, #a1ffce, #faffd1);
    background-image: -webkit-linear-gradient(to bottom, #a1ffce, #faffd1);
    background-image: -ms-linear-gradient(to bottom, #a1ffce, #faffd1);
    opacity: 0.2;
}
#home_banner h3 {
    font-size: 120px;
    color: #fff;
    font-weight: 400;
    margin: 0;
}
#home_banner p {
    font-size: 35px;
    color: #fff;
    font-weight: 400;
    margin: 20px 0 30px;
}
#home_banner .btn {
    margin-right: 40px;
    margin-bottom: 100px;
}
#home_banner .btn:hover {
    border-color: #fff;
    background: #fff;
    color: #09bf73;
}
@media (max-width: 991px) {
    #home_banner h3 {
        font-size: 30px;
        line-height: 50px;
    }
    #home_banner p {
        font-size: 18px;
    }
    #home_banner .btn {
        margin: 0 20px 20px 0;
    }
}
/*-----------end nav bar-----------------------*/



/*-------------------video---------------------*/
#video {
    position: relative;
}
#video a {
    display: inline-block;
}
.playbtn{
  margin-bottom: 100px;
}
/*--------------end video-----------------------*/



/*--------------Galerie Photo-------------------*/
#galerie {
    position: relative;
}

#galerie .testimonial-slider {

}

#galerie .testimonial-slider .owl-dots {
    margin-top: 20px !important;
}

#galerie .testimonial-slider .owl-dots .owl-dot span {
    background: #fff;
    width: 20px;
    height: 20px;
}

#galerie .testimonial-slider .owl-dots .owl-dot.active span {
    background: #25a499;
}
#galerie img{
  height: 100%;
  width: 100%;

}

/*--------------end galerie photo---------------*/


/*--------------price section-------------------*/
#reservez .price-table {
    border: 1px solid #09bf73;
    -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@media (max-width: 992px) {
    #reservez .price-table {
        margin-bottom: 30px;
    }
}
#reservez .price-table:hover {
    background-color: #fff;
    cursor: pointer;
    -webkit-transform: scale(1.07);
    -moz-transform: scale(1.07);
    -o-transform: scale(1.07);
    transform: scale(1.07);
}
#reservez .price-table.feature {
    color: #25a499;
    border-color: #09bf73;
    margin-top: 0;
}
#reservez .price-table h4 {
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
}
#reservez .price-table .cost h3 {
    margin: 0;
    color: rgb(24, 101, 62);
    font-size: 100px;
    font-weight: 600;
    line-height: 70px;
}
#reservez .price-table .cost h3 span {
    font-size: 50px;
    line-height: 26px;
}
#reservez .price-table ul {
    margin: 0;
}
#reservez .price-table ul li {
    font-size: 35px;
    line-height: 50px;
}
#reservez .price-table{
  background-color: rgba(255, 255, 255, 0.8);
}
/*-------------end price section------------------*/
/*-------------formulaire question----------------*/
#formulaire h2 {

}


.contact-form{
  margin: 0 auto;
}
input[type=text],[type=email], select, textarea{
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #17C089;
  margin-bottom: 15px;
}
textarea{
  height: 100px;
}
input[type=submit],[type=reset]{
  font-size: 30px;

  padding: 10px 30px;

  text-decoration: none;

  border: 2px solid #09bf73;
  border-radius: 10px;
}
/*---------end formulaire question----------------*/
/*--------------footer-----------*/
footer {
  margin-top: 100px;
  background-color: black;
  padding-top: 50px;
  padding-bottom: 50px;
}
#cgv .foot-left ul li {
  margin-right: 25px;
  font-size: 25px;
  float: left;
  text-decoration: none;
  list-style: none;
  display: block;
}
#cgv .foot-right ul li {
  margin-left: 25px;
  font-size: 25px;
  float: right;
  text-decoration: none;
  list-style: none;
  display: block;
}
